<%= turbo_frame_tag comment, class: "box" do %>
  <div data-controller="navbar" data-navbar-change-class="is-active">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img alt="<%= comment.author.name %>" src="<%= avatar_url(user: comment.author, size: 64) %>">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>
              <%= comment.author.name %>
            </strong> <small> <%= distance_of_time_in_words(comment.created_at, Time.now) %> </small>
            <br>
            <%= comment.content %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <span class="level-item is-small">
              <%= render select_like_form(comment), likeable: comment %>
            </span>
            <a class="level-item">
              <span class="is-small">comment</span>
            </a>
          </div>
        </nav>
      </div>
      <div class="media-right">
        <div class="dropdown is-right" data-navbar-target="dropdown">
          <div class="dropdown-trigger">
            <button id="comment_<%= comment.id %>_dropdown_button" class="button" data-action="navbar#toggleDropdown">:</button>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <%= link_to "Permalink", comment_path(comment), class: "dropdown-item",
               data: { turbo: false } %>
              <% if comment.author == current_user %>
                <%= link_to "Edit", edit_comment_path(comment), class: "dropdown-item" %>
                <hr class="dropdown-divider">
                <%= link_to "Delete", comment_path(comment), class: "dropdown-item",
                 data: { turbo_method: :delete, turbo_confirm: "Really delete this comment?" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
<% end %>
