
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <p><%= @user.name %></p>
      </div>
      <div class="media-right">
        <% if current_user.friends_with?(@user) %>
          <%= form_with model: @friendship, method: :delete do |del_form| %>
            <%= del_form.submit "Remove Friend", class: "button is-danger" %>
          <% end %>
        <% elsif current_user.friend_requests.find_by(user: @user) %>
          <%= form_with model: @friendship do |accept_form| %>
            <%= accept_form.hidden_field :friend_id, value: @user.id %>
            <%= accept_form.submit "Accept Friend Request", class: "button is-success" %>
          <% end %>
          <%= form_with model: @friendship, method: :delete do |rej_form| %>
            <%= rej_form.submit "Decline Friend Request", class: "button is-danger" %>
          <% end %>
        <% elsif @user.friend_requests.find_by(user: current_user) %>
          <%= form_with model: @friendship, method: :delete do |cancel_form| %>
            <%= cancel_form.submit "Cancel Friend Request", class: "button is-primary is-outlined" %>
          <% end %>
        <% else %>
          <%= form_with model: @friendship do |add_form| %>
            <%= add_form.hidden_field :friend_id, value: @user.id %>
            <%= add_form.submit "Add Friend", class: "button is-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="content">
      <p>bio stuff</p>
    </div>
    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
    <% end %>
  </div>
</div>
